pagenodes_controller_V2_1.js
[{"id":"d6a39647.d315d8","type":"serial-port","z":"77v7uvSlVgQ","connectionType":"serial","serialportName":"COM4","baud":"9600","inputId":"","vendorId":"","productId":"","tcpHost":"","tcpPort":"","name":"Serial Port!"},{"id":"5qNkEs28Z4w","type":"change","z":"77v7uvSlVgQ","name":"Move Servo Out","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":577.9999732971191,"y":1049.2222309112549,"wires":[["xKgGflU6kfY"]]},{"id":"uK-nioA9eVc","type":"iot buttons","z":"77v7uvSlVgQ","x":145.00006103515625,"y":819.0000276565552,"wires":[["anP0ups8-SQ"]]},{"id":"anP0ups8-SQ","type":"switch","z":"77v7uvSlVgQ","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","outputs":10,"x":294.0000534057617,"y":821.0000038146973,"wires":[["30o1DIDkI3Q"],["FnUvmwlU2rY"],["StfF0EKWZFc"],["9n0UMylzOI8"],["DUof9WSRVvI"],["SxhFC1vv1ZI"],["v9CO3u3hK-w"],["5qNkEs28Z4w"],["Tlm6MhGnzU4"],[]]},{"id":"DUof9WSRVvI","type":"change","z":"77v7uvSlVgQ","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STP;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":569.0000686645508,"y":851.000020980835,"wires":[["xKgGflU6kfY"]]},{"id":"SxhFC1vv1ZI","type":"change","z":"77v7uvSlVgQ","name":"Slow","rules":[{"t":"set","p":"payload","pt":"msg","to":"SLW;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.0000610351562,"y":932.0000267028809,"wires":[["xKgGflU6kfY"]]},{"id":"v9CO3u3hK-w","type":"change","z":"77v7uvSlVgQ","name":"Fast","rules":[{"t":"set","p":"payload","pt":"msg","to":"FST;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.0000610351562,"y":971.0000267028809,"wires":[["xKgGflU6kfY"]]},{"id":"30o1DIDkI3Q","type":"change","z":"77v7uvSlVgQ","name":"Forward","rules":[{"t":"set","p":"payload","pt":"msg","to":"FWD;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":563.0000686645508,"y":701.0000133514404,"wires":[["xKgGflU6kfY"]]},{"id":"FnUvmwlU2rY","type":"change","z":"77v7uvSlVgQ","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"REV;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":568.0000686645508,"y":736.0000143051147,"wires":[["xKgGflU6kfY"]]},{"id":"StfF0EKWZFc","type":"change","z":"77v7uvSlVgQ","name":"Turn Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"RGT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":575.0000686645508,"y":775.0000171661377,"wires":[["xKgGflU6kfY"]]},{"id":"9n0UMylzOI8","type":"change","z":"77v7uvSlVgQ","name":"Turn Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"LFT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":571.0000686645508,"y":813.0000667572021,"wires":[["xKgGflU6kfY"]]},{"id":"ZwOMR3seQcM","type":"gamepad","z":"77v7uvSlVgQ","name":"","controllerId":"0","refreshInterval":"150","onlyButtonChanges":true,"roundAxes":true,"x":379.00000381469727,"y":564.0000076293945,"wires":[["AAQKDel8eZw"]]},{"id":"xKgGflU6kfY","type":"serial out","z":"77v7uvSlVgQ","name":"","topic":"","connection":"d6a39647.d315d8","x":883.8000335693359,"y":813.0000801086426,"wires":[]},{"id":"1ljFxQSBgu4","type":"change","z":"77v7uvSlVgQ","name":"Crawl","rules":[{"t":"set","p":"payload","pt":"msg","to":"CRL;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.0000076293945,"y":1009.0000276565552,"wires":[["xKgGflU6kfY"]]},{"id":"Tlm6MhGnzU4","type":"change","z":"77v7uvSlVgQ","name":"Move Servo In","rules":[{"t":"set","p":"payload","pt":"msg","to":"SIN;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":575.9999771118164,"y":1093.2222318649292,"wires":[["xKgGflU6kfY"]]},{"id":"jMFvn0FYFaY","type":"serial in","z":"77v7uvSlVgQ","name":"","connection":"d6a39647.d315d8","x":879.0000305175781,"y":722.4444694519043,"wires":[["4S4vCnvrh5A"]]},{"id":"OsnZ-WqsO4w","type":"debug","z":"77v7uvSlVgQ","name":"","active":true,"console":"false","complete":"payload","x":1482.999984741211,"y":740.4444561004639,"wires":[]},{"id":"AAQKDel8eZw","type":"function","z":"77v7uvSlVgQ","name":"decodeButtons","func":"//buttons[0] B\n//buttons[1] A\n//buttons[2] Y\n//buttons[3] X\n//buttons[4] L\n//buttons[5] R\n//buttons[8] Select\n//buttons[9] Start\n//buttons[12] Up\n//buttons[13] Down\n//buttons[14] Left\n//buttons[15] Right\n\nvar newMsg = { payload: \"\" };\nif(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //Forward\n   newMsg.payload = newMsg.payload + \"FWD;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value == 1) //Reverse\n   newMsg.payload = newMsg.payload + \"REV;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //Pure Left\n   newMsg.payload = newMsg.payload + \"LFT;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value === 0) //Pure Right\n   newMsg.payload = newMsg.payload + \"RGT;\";\nelse if(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //ForwardLeft\n   newMsg.payload = newMsg.payload + \"FWL;\";\nelse if(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value === 0) //ForwardRight\n   newMsg.payload = newMsg.payload + \"FWR;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value == 1) //ReverseLeft\n   newMsg.payload = newMsg.payload + \"RVL;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value == 1) //ReverseRight\n   newMsg.payload = newMsg.payload + \"RVR;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //STOP!\n   newMsg.payload = newMsg.payload + \"STP;\";\n\nif(msg.payload.buttons[4].value == 1) //Servo Control R and L button\n   newMsg.payload = newMsg.payload + \"SOT;\";\nelse if(msg.payload.buttons[5].value == 1) //Servo Control R and L button\n   newMsg.payload = newMsg.payload + \"SIN;\";\n   \nif(msg.payload.buttons[0].value == 1) //Button B\n   newMsg.payload = newMsg.payload + \"SLW;\";\nelse if(msg.payload.buttons[1].value == 1) //Button A\n   newMsg.payload = newMsg.payload + \"CRL;\";\nelse if(msg.payload.buttons[2].value == 1) //Button Y or X\n   newMsg.payload = newMsg.payload + \"FST;\";\n\nif(msg.payload.buttons[8].value == 1) //Button B\n   newMsg.payload = newMsg.payload + \"TX2;\";\nelse if(msg.payload.buttons[3].value == 1) //Button B\n   newMsg.payload = newMsg.payload + \"TX3;\";\nelse if(msg.payload.buttons[9].value == 1) //Button B\n   newMsg.payload = newMsg.payload + \"TX4;\";\n\nreturn newMsg;","outputs":1,"noerr":0,"x":579.0000076293945,"y":566.0000066757202,"wires":[["xKgGflU6kfY"]]},{"id":"Ysqlt1l5yfQ","type":"switch","z":"77v7uvSlVgQ","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!D","vt":"str"}],"checkall":"true","outputs":1,"x":1187.9999465942383,"y":667.4444670677185,"wires":[["iDm6xj2aMJs"]]},{"id":"iDm6xj2aMJs","type":"change","z":"77v7uvSlVgQ","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Shit! Connection Lost","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1356.9999465942383,"y":664.4444665908813,"wires":[["Zyuxa2hPPmo"]]},{"id":"Ee1hjMZMKTI","type":"switch","z":"77v7uvSlVgQ","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!C","vt":"str"}],"checkall":"true","outputs":1,"x":1187.9999465942383,"y":628.4444661140442,"wires":[["ftCd2SDETjc"]]},{"id":"ftCd2SDETjc","type":"change","z":"77v7uvSlVgQ","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Connection Established","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1354.9999542236328,"y":625.4444670677185,"wires":[["Zyuxa2hPPmo"]]},{"id":"Zyuxa2hPPmo","type":"espeak","z":"77v7uvSlVgQ","name":"","variant":"Microsoft Zira Desktop - English (United States)","active":true,"x":1675.9999542236328,"y":635.4444675445557,"wires":[]},{"id":"4S4vCnvrh5A","type":"buffer","z":"77v7uvSlVgQ","name":"","propName":"payload","encoding":"ascii","x":1008.1110992431641,"y":731.0000114440918,"wires":[["Ysqlt1l5yfQ","Ee1hjMZMKTI","OsnZ-WqsO4w"]]}]