Pagesnodes_V1.3.js
[{"id":"gPguL59L8I0","type":"serial-port","z":"qmndmZA6_70","connectionType":"serial","serialportName":"COM3","baud":"9600","inputId":"","vendorId":"","productId":"","tcpHost":"","tcpPort":"","name":"Serial Port!"},{"id":"4MQWJwx2oBg","type":"change","z":"qmndmZA6_70","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STP;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":678.0000076293945,"y":467.00001335144043,"wires":[["7al1H6be-YU"]]},{"id":"H31SheDnZi8","type":"change","z":"qmndmZA6_70","name":"Slow","rules":[{"t":"set","p":"payload","pt":"msg","to":"SLW;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":679,"y":548.0000190734863,"wires":[["7al1H6be-YU"]]},{"id":"i-2t_0AvTgU","type":"change","z":"qmndmZA6_70","name":"Fast","rules":[{"t":"set","p":"payload","pt":"msg","to":"FST;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":679,"y":587.0000190734863,"wires":[["7al1H6be-YU"]]},{"id":"-oG5SaLLbRQ","type":"change","z":"qmndmZA6_70","name":"Forward","rules":[{"t":"set","p":"payload","pt":"msg","to":"FWD;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":672.0000076293945,"y":317.0000057220459,"wires":[["7al1H6be-YU"]]},{"id":"_aNyPYU7js0","type":"change","z":"qmndmZA6_70","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"REV;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":677.0000076293945,"y":352.0000066757202,"wires":[["7al1H6be-YU"]]},{"id":"9S2d7bXW0oQ","type":"change","z":"qmndmZA6_70","name":"Turn Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"RGT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":684.0000076293945,"y":391.00000953674316,"wires":[["7al1H6be-YU"]]},{"id":"SxJc_vzjsVc","type":"change","z":"qmndmZA6_70","name":"Turn Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"LFT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680.0000076293945,"y":429.0000591278076,"wires":[["7al1H6be-YU"]]},{"id":"x5DKwWDtJs0","type":"gamepad","z":"qmndmZA6_70","name":"","controllerId":"1","refreshInterval":"150","onlyButtonChanges":true,"roundAxes":true,"x":487.999942779541,"y":180,"wires":[["YI1TMwoqY5M"]]},{"id":"7al1H6be-YU","type":"serial out","z":"qmndmZA6_70","name":"","topic":"","connection":"gPguL59L8I0","x":992.7999725341797,"y":429.00007247924805,"wires":[]},{"id":"hJZBsGvscR8","type":"change","z":"qmndmZA6_70","name":"Crawl","rules":[{"t":"set","p":"payload","pt":"msg","to":"CRL;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":678.9999465942383,"y":625.0000200271606,"wires":[["7al1H6be-YU"]]},{"id":"PbouqKGSIXQ","type":"change","z":"qmndmZA6_70","name":"Pan Servo Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"SPL;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":679.9999389648438,"y":750.4722270965576,"wires":[["7al1H6be-YU"]]},{"id":"u4CjrWFEY7Y","type":"change","z":"qmndmZA6_70","name":"Pan Servo Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"SPR;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":681.9999351501465,"y":706.4722261428833,"wires":[["7al1H6be-YU"]]},{"id":"KB0NWpyw8Ak","type":"serial in","z":"qmndmZA6_70","name":"","connection":"gPguL59L8I0","x":987.9999694824219,"y":338.44446182250977,"wires":[["KlPkB7UBIBo"]]},{"id":"1Hez0grnGFc","type":"debug","z":"qmndmZA6_70","name":"","active":true,"console":"false","complete":"payload","x":1100.5713272094727,"y":229.30158615112305,"wires":[]},{"id":"YI1TMwoqY5M","type":"function","z":"qmndmZA6_70","name":"decodeButtons","func":"//buttons[0] B\n//buttons[1] A\n//buttons[2] Y\n//buttons[3] X\n//buttons[4] L\n//buttons[5] R\n//buttons[8] Select\n//buttons[9] Start\n//buttons[12] Up\n//buttons[13] Down\n//buttons[14] Left\n//buttons[15] Right\n\nvar newMsg = { payload: \"\" };\nif(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //Forward\n   newMsg.payload = newMsg.payload + \"FWD;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value == 1) //Reverse\n   newMsg.payload = newMsg.payload + \"REV;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //Pure Left\n   newMsg.payload = newMsg.payload + \"LFT;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value === 0) //Pure Right\n   newMsg.payload = newMsg.payload + \"RGT;\";\nelse if(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //ForwardLeft\n   newMsg.payload = newMsg.payload + \"FWL;\";\nelse if(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value === 0) //ForwardRight\n   newMsg.payload = newMsg.payload + \"FWR;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value == 1) //ReverseLeft\n   newMsg.payload = newMsg.payload + \"RVL;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value == 1) //ReverseRight\n   newMsg.payload = newMsg.payload + \"RVR;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //STOP!\n   newMsg.payload = newMsg.payload + \"STP;\";\n\nif(msg.payload.buttons[4].value == 1) //Servo Control R and L button\n   newMsg.payload = newMsg.payload + \"SOT;\";\nelse if(msg.payload.buttons[5].value == 1) //Servo Control R and L button\n   newMsg.payload = newMsg.payload + \"SIN;\";\n   \nif(msg.payload.buttons[0].value == 1) //Button B\n   newMsg.payload = newMsg.payload + \"SLW;\";\nelse if(msg.payload.buttons[1].value == 1) //Button A\n   newMsg.payload = newMsg.payload + \"CRL;\";\nelse if(msg.payload.buttons[2].value == 1) //Button Y or X\n   newMsg.payload = newMsg.payload + \"FST;\";\n\nif(msg.payload.buttons[8].value == 1) //Button X\n   newMsg.payload = newMsg.payload + \"TX4;\";\nelse if(msg.payload.buttons[3].value == 1) //Button Y\n   newMsg.payload = newMsg.payload + \"TX3;\";\n//else if(msg.payload.buttons[9].value == 1) //Button start\n//   newMsg.payload = newMsg.payload + \"TX4;\";\n\nif(msg.payload.buttons[9].value == 1) //Button start\n   newMsg.payload = newMsg.payload + \"HLO;\";\nelse if(msg.payload.buttons[9].value == 1) //Button start\n   newMsg.payload = newMsg.payload + \"HLF;\";\n   \n\nreturn newMsg;","outputs":1,"noerr":0,"x":687.9999465942383,"y":181.99999904632568,"wires":[["7al1H6be-YU"]]},{"id":"G90nKzHIt-k","type":"switch","z":"qmndmZA6_70","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!D","vt":"str"}],"checkall":"true","outputs":1,"x":1296.999885559082,"y":283.444459438324,"wires":[["l0vy6w_ZWa8"]]},{"id":"l0vy6w_ZWa8","type":"change","z":"qmndmZA6_70","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Shit! Connection Lost","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1465.999885559082,"y":280.4444589614868,"wires":[["U_YuZa1krMY"]]},{"id":"a1tq-A8qq_Q","type":"switch","z":"qmndmZA6_70","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"!C","vt":"str"}],"checkall":"true","outputs":1,"x":1296.999885559082,"y":244.44445848464966,"wires":[["0d8AdjFTPmE"]]},{"id":"0d8AdjFTPmE","type":"change","z":"qmndmZA6_70","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Connection Established","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1463.9998931884766,"y":241.44445943832397,"wires":[["U_YuZa1krMY"]]},{"id":"U_YuZa1krMY","type":"espeak","z":"qmndmZA6_70","name":"","variant":"Microsoft Zira Desktop - English (United States)","active":true,"x":1869.2855834960938,"y":175.7301540374756,"wires":[]},{"id":"KlPkB7UBIBo","type":"buffer","z":"qmndmZA6_70","name":"","propName":"payload","encoding":"ascii","x":1117.1110382080078,"y":347.00000381469727,"wires":[["G90nKzHIt-k","a1tq-A8qq_Q","1Hez0grnGFc"]]},{"id":"ZKIX3UX7YAU","type":"voice rec","z":"qmndmZA6_70","name":"OK robot disco","x":484.00000381469727,"y":98,"wires":[["FkSPbEgrmgs","SIqM55EN7Vo"]]},{"id":"FkSPbEgrmgs","type":"function","z":"qmndmZA6_70","name":"Decode Speech","func":"var newMsg = { payload: \"\" };\nif(msg.payload.toLowerCase() === \"robot disco\" || msg.payload.toLowerCase() === \"robot discount\")\n   newMsg.payload = newMsg.payload + \"DSC;\";\n   \nelse if(msg.payload.toLowerCase() === \"robot lights on\" || msg.payload.toLowerCase() === \"robot light on\")\n   newMsg.payload = newMsg.payload + \"HLO;\";\n   \nelse if(msg.payload.toLowerCase() === \"robot lights off\" || msg.payload.toLowerCase() === \"robot light off\")\n   newMsg.payload = newMsg.payload + \"HLF;\";\nelse if(msg.payload.toLowerCase() === \"stop\" || msg.payload.toLowerCase() === \"robot stop\")\n   newMsg.payload = newMsg.payload + \"STP;\";\nelse if(msg.payload.toLowerCase() === \"robot crawl forward\")\n   newMsg.payload = newMsg.payload + \"CRL;FWD;\";\nelse if(msg.payload.toLowerCase() === \"robot crawl backwards\")\n   newMsg.payload = newMsg.payload + \"CRL;REV;\";\n   \nreturn newMsg;","outputs":1,"noerr":0,"x":689,"y":104,"wires":[["7al1H6be-YU","jMzE4BZyujk","1Hez0grnGFc","9PvCHayVFR4","NyFnw-YpdgM"]]},{"id":"SIqM55EN7Vo","type":"debug","z":"qmndmZA6_70","name":"","active":true,"console":"false","complete":"false","x":699,"y":45,"wires":[]},{"id":"jMzE4BZyujk","type":"switch","z":"qmndmZA6_70","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"HLO;","vt":"str"}],"checkall":"true","outputs":1,"x":1291.555564880371,"y":185.00000190734863,"wires":[["bEWJQhV33UQ"]]},{"id":"bEWJQhV33UQ","type":"change","z":"qmndmZA6_70","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1458.555564880371,"y":184.00000286102295,"wires":[["U_YuZa1krMY"]]},{"id":"NyFnw-YpdgM","type":"switch","z":"qmndmZA6_70","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"HLF;","vt":"str"}],"checkall":"true","outputs":1,"x":1289.5555419921875,"y":132,"wires":[["LTHM2WKqdOs"]]},{"id":"LTHM2WKqdOs","type":"change","z":"qmndmZA6_70","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Lights off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1456.5555419921875,"y":131.00000095367432,"wires":[["U_YuZa1krMY"]]},{"id":"9PvCHayVFR4","type":"switch","z":"qmndmZA6_70","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"DSC;","vt":"str"}],"checkall":"true","outputs":1,"x":1284.5555419921875,"y":76,"wires":[["s2HYjfY7ycY"]]},{"id":"s2HYjfY7ycY","type":"change","z":"qmndmZA6_70","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"unts unts unts unts","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1451.5555419921875,"y":75.00000095367432,"wires":[["U_YuZa1krMY"]]},{"id":"kZIikoljFIM","type":"inject","z":"qmndmZA6_70","name":"","topic":"HeadlightsOn","payload":"HLO;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":991.4444999694824,"y":592.2500315167836,"wires":[["7al1H6be-YU"]]},{"id":"WbqGD0IqWzw","type":"inject","z":"qmndmZA6_70","name":"","topic":"E-STOP","payload":"STP;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":990.5556488037109,"y":748.1786518096924,"wires":[["7al1H6be-YU"]]},{"id":"hs_7AlpgsDc","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":500.3174514770508,"y":464.2857370376587,"wires":[["4MQWJwx2oBg"]]},{"id":"Sn8Gxj9KmEY","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Pan Right","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":503.8889274597168,"y":707.8571939468384,"wires":[["u4CjrWFEY7Y"]]},{"id":"gMQL6JEjnH0","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Pan Left","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":496.74607849121094,"y":753.3928937911987,"wires":[["PbouqKGSIXQ"]]},{"id":"L0p3ceKyj0A","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Forward","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":496.03173446655273,"y":315.7143096923828,"wires":[["-oG5SaLLbRQ"]]},{"id":"KNAApDbKg1Y","type":"inject","z":"qmndmZA6_70","name":"","topic":"shut up","payload":"TX1;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":995.3175582885742,"y":798.7501077651978,"wires":[["7al1H6be-YU"]]},{"id":"resiIN6md-E","type":"inject","z":"qmndmZA6_70","name":"","topic":"RickRoll","payload":"TX2;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":998.1746940612793,"y":847.3214492797852,"wires":[["7al1H6be-YU"]]},{"id":"gim9w_YRriA","type":"inject","z":"qmndmZA6_70","name":"","topic":"Insult","payload":"TX3;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":1211.7460861206055,"y":592.6786127545765,"wires":[["7al1H6be-YU"]]},{"id":"DzSFWZmMfKE","type":"inject","z":"qmndmZA6_70","name":"","topic":"Complement","payload":"TX4;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":1217.4603805541992,"y":636.9643183209828,"wires":[["7al1H6be-YU"]]},{"id":"3WC0VoB3Dhc","type":"inject","z":"qmndmZA6_70","name":"","topic":"Nts","payload":"TX5;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":1228.8889617919922,"y":689.8214693524769,"wires":[["7al1H6be-YU"]]},{"id":"7doYRDCbj3c","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Reverse","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":491.25001525878906,"y":352.2222385406494,"wires":[["_aNyPYU7js0"]]},{"id":"BiRzwvGsqFE","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Slow","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":501.25001525878906,"y":545.9722051620483,"wires":[["H31SheDnZi8"]]},{"id":"Dpw1IO0GGyM","type":"inject","z":"qmndmZA6_70","name":"","topic":"Disco","payload":"DSC;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":1208.7500839233398,"y":750.1388407208851,"wires":[[]]},{"id":"93BFOujOIG8","type":"inject","z":"qmndmZA6_70","name":"","topic":"HeadlightsOff","payload":"HLF;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":988.7500686645508,"y":692.2222766876221,"wires":[["7al1H6be-YU"]]},{"id":"RmwLA8ZZGnA","type":"inject","z":"qmndmZA6_70","name":"","topic":"HeadlightsOnHalfway","payload":"HLH;","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":985.2778244018555,"y":638.4722528912953,"wires":[["7al1H6be-YU"]]},{"id":"T6GZDj3R1pw","type":"change","z":"qmndmZA6_70","name":"Tilt Servo Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"STD;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":674.0277976989746,"y":876.8055467605591,"wires":[["7al1H6be-YU"]]},{"id":"ky2p0_MPn40","type":"change","z":"qmndmZA6_70","name":"Tilt Servo Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"STU;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":676.0277938842773,"y":832.8055458068848,"wires":[["7al1H6be-YU"]]},{"id":"cNWMVnsfOVo","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Tilt Up","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":497.91678619384766,"y":834.1905136108398,"wires":[["ky2p0_MPn40"]]},{"id":"S9darR-kD0M","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Tilt Down","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":490.7739372253418,"y":879.7262134552002,"wires":[["T6GZDj3R1pw"]]},{"id":"fNcZ1hFdbbw","type":"change","z":"qmndmZA6_70","name":"Pan Servo Forward","rules":[{"t":"set","p":"payload","pt":"msg","to":"SPF;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":676.5277938842773,"y":665.1388826370239,"wires":[["7al1H6be-YU"]]},{"id":"LDRv1WEhJWc","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Reset Pan","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":493.27393341064453,"y":668.059549331665,"wires":[["fNcZ1hFdbbw"]]},{"id":"02QBVASWQ1M","type":"change","z":"qmndmZA6_70","name":"Tilt Servo Forward","rules":[{"t":"set","p":"payload","pt":"msg","to":"STF;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":669.0277709960938,"y":791.3888549804688,"wires":[["7al1H6be-YU"]]},{"id":"xesp1RQM54E","type":"inject","z":"qmndmZA6_70","name":"","topic":"","payload":"Reset Tilt","payloadType":"str","repeat":"","crontab":"","once":false,"allowDebugInput":false,"x":485.77391052246094,"y":794.3095216751099,"wires":[["02QBVASWQ1M"]]}]
