pagenodes_controller.js
[{"id":"d6a39647.d315d8","type":"serial-port","z":"77v7uvSlVgQ","connectionType":"serial","serialportName":"COM4","baud":"9600","inputId":"","vendorId":"","productId":"","tcpHost":"","tcpPort":"","name":"Serial Port!"},{"id":"uK-nioA9eVc","type":"iot buttons","z":"77v7uvSlVgQ","x":145.00006103515625,"y":819.0000276565552,"wires":[["anP0ups8-SQ"]]},{"id":"anP0ups8-SQ","type":"switch","z":"77v7uvSlVgQ","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"str"}],"checkall":"true","outputs":8,"x":294.0000534057617,"y":821.0000038146973,"wires":[["30o1DIDkI3Q"],["FnUvmwlU2rY"],["StfF0EKWZFc"],["9n0UMylzOI8"],["DUof9WSRVvI"],["SxhFC1vv1ZI"],["v9CO3u3hK-w"],[]]},{"id":"DUof9WSRVvI","type":"change","z":"77v7uvSlVgQ","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STP;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":569.0000686645508,"y":851.000020980835,"wires":[["xKgGflU6kfY"]]},{"id":"SxhFC1vv1ZI","type":"change","z":"77v7uvSlVgQ","name":"Slow","rules":[{"t":"set","p":"payload","pt":"msg","to":"SLW;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":565.0000686645508,"y":883.0000228881836,"wires":[["xKgGflU6kfY"]]},{"id":"v9CO3u3hK-w","type":"change","z":"77v7uvSlVgQ","name":"Fast","rules":[{"t":"set","p":"payload","pt":"msg","to":"FST;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":566.0000686645508,"y":919.0000257492065,"wires":[["xKgGflU6kfY"]]},{"id":"30o1DIDkI3Q","type":"change","z":"77v7uvSlVgQ","name":"Forward","rules":[{"t":"set","p":"payload","pt":"msg","to":"FWD;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":563.0000686645508,"y":701.0000133514404,"wires":[["xKgGflU6kfY"]]},{"id":"FnUvmwlU2rY","type":"change","z":"77v7uvSlVgQ","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"REV;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":568.0000686645508,"y":736.0000143051147,"wires":[["xKgGflU6kfY"]]},{"id":"StfF0EKWZFc","type":"change","z":"77v7uvSlVgQ","name":"Turn Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"RGT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":575.0000686645508,"y":775.0000171661377,"wires":[["xKgGflU6kfY"]]},{"id":"9n0UMylzOI8","type":"change","z":"77v7uvSlVgQ","name":"Turn Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"LFT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":571.0000686645508,"y":813.0000667572021,"wires":[["xKgGflU6kfY"]]},{"id":"ZwOMR3seQcM","type":"gamepad","z":"77v7uvSlVgQ","name":"","controllerId":"0","refreshInterval":"300","onlyButtonChanges":false,"roundAxes":true,"x":59,"y":259.00000190734863,"wires":[["IxeaJH6375o","kEItWeaHVgg","rB1-eGXRQCc","-yIwscEsAm8","JXbRpCehoD4","eXsN6f3hFLs","ZValJPRU8jY","cdk8CsOhs80","p4aGV07rDSE","yGHhEFrnV3k","_w21NrFr8cI","Gd2p6KAtWJo"]]},{"id":"xKgGflU6kfY","type":"serial out","z":"77v7uvSlVgQ","name":"","topic":"","connection":"d6a39647.d315d8","x":883.8000335693359,"y":813.0000801086426,"wires":[]},{"id":"IxeaJH6375o","type":"switch","z":"77v7uvSlVgQ","name":"Button B","property":"payload.buttons[0].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":310.0000228881836,"y":20,"wires":[["SxhFC1vv1ZI"]]},{"id":"kEItWeaHVgg","type":"switch","z":"77v7uvSlVgQ","name":"Button A","property":"payload.buttons[1].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":302.00001525878906,"y":54.99998950958252,"wires":[["v9CO3u3hK-w"]]},{"id":"rB1-eGXRQCc","type":"switch","z":"77v7uvSlVgQ","name":"Button Y","property":"payload.buttons[2].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":298.00001525878906,"y":90.99998950958252,"wires":[["5qNkEs28Z4w"]]},{"id":"-yIwscEsAm8","type":"switch","z":"77v7uvSlVgQ","name":"Button X","property":"payload.buttons[3].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":300.00001525878906,"y":130.99998950958252,"wires":[["Tlm6MhGnzU4"]]},{"id":"JXbRpCehoD4","type":"switch","z":"77v7uvSlVgQ","name":"Button L","property":"payload.buttons[4].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":300.0000305175781,"y":169.9999885559082,"wires":[["DUof9WSRVvI"]]},{"id":"eXsN6f3hFLs","type":"switch","z":"77v7uvSlVgQ","name":"Button R","property":"payload.buttons[5].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":300.00000762939453,"y":208.99998140335083,"wires":[["1ljFxQSBgu4"]]},{"id":"ZValJPRU8jY","type":"switch","z":"77v7uvSlVgQ","name":"Button Select","property":"payload.buttons[8].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":307.0000305175781,"y":290.00000953674316,"wires":[[]]},{"id":"cdk8CsOhs80","type":"switch","z":"77v7uvSlVgQ","name":"Button Start","property":"payload.buttons[9].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":309.00000762939453,"y":327.9999861717224,"wires":[[]]},{"id":"p4aGV07rDSE","type":"switch","z":"77v7uvSlVgQ","name":"Button up","property":"payload.buttons[12].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":305.00000381469727,"y":431.0000333786011,"wires":[["30o1DIDkI3Q"]]},{"id":"yGHhEFrnV3k","type":"switch","z":"77v7uvSlVgQ","name":"Button down","property":"payload.buttons[13].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":308.00000381469727,"y":469.0000343322754,"wires":[["FnUvmwlU2rY"]]},{"id":"_w21NrFr8cI","type":"switch","z":"77v7uvSlVgQ","name":"Button left","property":"payload.buttons[14].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":303.0000305175781,"y":510.00006198883057,"wires":[["9n0UMylzOI8"]]},{"id":"Gd2p6KAtWJo","type":"switch","z":"77v7uvSlVgQ","name":"Button right","property":"payload.buttons[15].value","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":310.00000762939453,"y":549.0000195503235,"wires":[["StfF0EKWZFc"]]},{"id":"1ljFxQSBgu4","type":"change","z":"77v7uvSlVgQ","name":"Crawl","rules":[{"t":"set","p":"payload","pt":"msg","to":"CRL;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":571.0000152587891,"y":960.0000286102295,"wires":[["xKgGflU6kfY"]]},{"id":"Tlm6MhGnzU4","type":"change","z":"77v7uvSlVgQ","name":"Move Servo In","rules":[{"t":"set","p":"payload","pt":"msg","to":"SIN;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":582.0000076293945,"y":617.2222361564636,"wires":[["xKgGflU6kfY"]]},{"id":"5qNkEs28Z4w","type":"change","z":"77v7uvSlVgQ","name":"Move Servo Out","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":582.0000076293945,"y":571.2222347259521,"wires":[["xKgGflU6kfY"]]}]