pagenodes_controller_V2.js
[{"id":"d6a39647.d315d8","type":"serial-port","z":"77v7uvSlVgQ","connectionType":"serial","serialportName":"COM4","baud":"9600","inputId":"","vendorId":"","productId":"","tcpHost":"","tcpPort":"","name":"Serial Port!"},{"id":"AAQKDel8eZw","type":"function","z":"77v7uvSlVgQ","name":"decodeButtons","func":"//buttons[0] B\n//buttons[1] A\n//buttons[2] Y\n//buttons[3] X\n//buttons[4] L\n//buttons[5] R\n//buttons[8] Select\n//buttons[9] Start\n//buttons[12] Up\n//buttons[13] Down\n//buttons[14] Left\n//buttons[15] Right\n\nvar newMsg = { payload: \"\" };\nif(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //Forward\n   newMsg.payload = newMsg.payload + \"FWD;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value == 1) //Reverse\n   newMsg.payload = newMsg.payload + \"REV;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //Pure Left\n   newMsg.payload = newMsg.payload + \"LFT;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value === 0) //Pure Right\n   newMsg.payload = newMsg.payload + \"RGT;\";\nelse if(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //ForwardLeft\n   newMsg.payload = newMsg.payload + \"FWL;\";\nelse if(msg.payload.buttons[12].value == 1 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value === 0) //ForwardRight\n   newMsg.payload = newMsg.payload + \"FWR;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value == 1 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value == 1) //ReverseLeft\n   newMsg.payload = newMsg.payload + \"RVL;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value == 1 && msg.payload.buttons[13].value == 1) //ReverseRight\n   newMsg.payload = newMsg.payload + \"RVR;\";\nelse if(msg.payload.buttons[12].value === 0 && msg.payload.buttons[14].value === 0 && msg.payload.buttons[15].value === 0 && msg.payload.buttons[13].value === 0) //STOP!\n   newMsg.payload = newMsg.payload + \"STP;\";\n\nif(msg.payload.buttons[4].value == 1) //Servo Control R and L button\n   newMsg.payload = newMsg.payload + \"SOT;\";\nelse if(msg.payload.buttons[5].value == 1) //Servo Control R and L button\n   newMsg.payload = newMsg.payload + \"SIN;\";\n   \nif(msg.payload.buttons[0].value == 1) //Button B\n   newMsg.payload = newMsg.payload + \"SLW;\";\nelse if(msg.payload.buttons[1].value == 1) //Button A\n   newMsg.payload = newMsg.payload + \"CRL;\";\nelse if(msg.payload.buttons[2].value == 1 || msg.payload.buttons[3].value == 1) //Button Y or X\n   newMsg.payload = newMsg.payload + \"FST;\";\n\nreturn newMsg;","outputs":1,"noerr":0,"x":570.0000114440918,"y":455.0000104904175,"wires":[["xKgGflU6kfY"]]},{"id":"uK-nioA9eVc","type":"iot buttons","z":"77v7uvSlVgQ","x":145.00006103515625,"y":819.0000276565552,"wires":[["anP0ups8-SQ"]]},{"id":"anP0ups8-SQ","type":"switch","z":"77v7uvSlVgQ","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"}],"checkall":"true","outputs":10,"x":294.0000534057617,"y":821.0000038146973,"wires":[["30o1DIDkI3Q"],["FnUvmwlU2rY"],["StfF0EKWZFc"],["9n0UMylzOI8"],["DUof9WSRVvI"],["SxhFC1vv1ZI"],["v9CO3u3hK-w"],["5qNkEs28Z4w"],["Tlm6MhGnzU4"],[]]},{"id":"DUof9WSRVvI","type":"change","z":"77v7uvSlVgQ","name":"Stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"STP;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":569.0000686645508,"y":851.000020980835,"wires":[["xKgGflU6kfY"]]},{"id":"SxhFC1vv1ZI","type":"change","z":"77v7uvSlVgQ","name":"Slow","rules":[{"t":"set","p":"payload","pt":"msg","to":"SLW;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.0000610351562,"y":932.0000267028809,"wires":[["xKgGflU6kfY"]]},{"id":"v9CO3u3hK-w","type":"change","z":"77v7uvSlVgQ","name":"Fast","rules":[{"t":"set","p":"payload","pt":"msg","to":"FST;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.0000610351562,"y":971.0000267028809,"wires":[["xKgGflU6kfY"]]},{"id":"30o1DIDkI3Q","type":"change","z":"77v7uvSlVgQ","name":"Forward","rules":[{"t":"set","p":"payload","pt":"msg","to":"FWD;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":563.0000686645508,"y":701.0000133514404,"wires":[["xKgGflU6kfY"]]},{"id":"FnUvmwlU2rY","type":"change","z":"77v7uvSlVgQ","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"REV;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":568.0000686645508,"y":736.0000143051147,"wires":[["xKgGflU6kfY"]]},{"id":"StfF0EKWZFc","type":"change","z":"77v7uvSlVgQ","name":"Turn Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"RGT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":575.0000686645508,"y":775.0000171661377,"wires":[["xKgGflU6kfY"]]},{"id":"9n0UMylzOI8","type":"change","z":"77v7uvSlVgQ","name":"Turn Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"LFT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":571.0000686645508,"y":813.0000667572021,"wires":[["xKgGflU6kfY"]]},{"id":"ZwOMR3seQcM","type":"gamepad","z":"77v7uvSlVgQ","name":"","controllerId":"0","refreshInterval":"150","onlyButtonChanges":true,"roundAxes":true,"x":252,"y":464.00000762939453,"wires":[["AAQKDel8eZw"]]},{"id":"xKgGflU6kfY","type":"serial out","z":"77v7uvSlVgQ","name":"","topic":"","connection":"d6a39647.d315d8","x":883.8000335693359,"y":813.0000801086426,"wires":[]},{"id":"1ljFxQSBgu4","type":"change","z":"77v7uvSlVgQ","name":"Crawl","rules":[{"t":"set","p":"payload","pt":"msg","to":"CRL;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570.0000076293945,"y":1009.0000276565552,"wires":[["xKgGflU6kfY"]]},{"id":"Tlm6MhGnzU4","type":"change","z":"77v7uvSlVgQ","name":"Move Servo In","rules":[{"t":"set","p":"payload","pt":"msg","to":"SIN;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":574.0000076293945,"y":572.2222442626953,"wires":[["xKgGflU6kfY"]]},{"id":"5qNkEs28Z4w","type":"change","z":"77v7uvSlVgQ","name":"Move Servo Out","rules":[{"t":"set","p":"payload","pt":"msg","to":"SOT;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":579.0000076293945,"y":525.2222442626953,"wires":[["xKgGflU6kfY"]]},{"id":"jMFvn0FYFaY","type":"serial in","z":"77v7uvSlVgQ","name":"","connection":"d6a39647.d315d8","x":879.0000305175781,"y":722.4444694519043,"wires":[["-VFa5DR3J_s"]]},{"id":"OsnZ-WqsO4w","type":"debug","z":"77v7uvSlVgQ","name":"","active":true,"console":"false","complete":"payload","x":1203.0000305175781,"y":733.444434940815,"wires":[]},{"id":"-VFa5DR3J_s","type":"strings","z":"77v7uvSlVgQ","name":"","func":"deburr","param2":"","param2Type":"str","param3":"","param3Type":"str","payloadProp":"payload","resultProp":"payload","payloadPropType":"msg","resultPropType":"msg","x":1024.4444732666016,"y":725.3333792686462,"wires":[["OsnZ-WqsO4w"]]}]